
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome</h2>

<ul class="nav">
    <li>@Html.ActionLink("Users", "Index", "User")</li>
    <li>@Html.ActionLink("Products", "Index", "Product")</li>
    <li>@Html.ActionLink("Both", "Index", "UserProducts")</li>
</ul>

